{% extends "base.html" %}
{% block content %}
<div class="card-wrapper">

  <div class="card3">
    <h1 class="center">Cricket</h1>
    <img src="..\static\img\backimg.jpg">
</div>

</div>

<div class="card-wrapper">
  <div class="card3">
    <h1 class="center">Football</h1>
    <img src="..\static\img\Football_target1.jpg">
</div>


</div>
<div class="card-wrapper">
  <div class="card3">
    <h1 class="center">Volleyball</h1>    
       <img src="..\static\img\volleyball_target1.jpg">
</div>


</div>


 
{%endblock%}